.App {
  text-align: center;
}
.NaviMargin {
  margin-top: '1rem';
}
a:link {
  color: rgb(2, 54, 63);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: dashed;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
